<h1>Event : {{title}}</h1>

<h3>Description: </h3>
<p>{{description}}</p>

<span>Latitude: {{location.coordinates.[1]}}</span>
<span>Longitude: {{location.coordinates.[0]}}</span>

<p>Created by: {{creator.name}}</p>
<p>Last updated: {{updatedDate}}</p>

<div id="map-container" ></div>






