<div class="event-card">
  <img src="{{photo}}" alt="photo">
  <div class="column-container">
    <div class="event-name-description">
     <h1>Event : {{title}}</h1>
     <p>{{description}}</p>
    </div>
    <div class="event-details">
      <p>Created by: {{creator.name}}</p>
      <span>Latitude: {{location.coordinates.[1]}}</span>
      <span>Longitude: {{location.coordinates.[0]}}</span>

      <p>Last updated: {{updatedDate}}</p>
    </div>
  </div>
</div>










