<div class="profile-container">
  <div class="row-container">
    <div class="form-picture">
      <img src="{{user.photoUrl}}" alt="">
      <form action="/user/avatar-upload" method="POST" enctype="multipart/form-data">
        <label for="picture-input">Picture</label>
        <input type="file" id="picture-input" name="photo">
        <button>Save</button> 
      </form>
      <form action="" method="POST">
        <a href="/dog/create"> Add new pet </a>
      </form>
      <form action="" method="POST">
        <a href="/user/edit"> Edit profile </a>
      </form>
    </div>
    <div class="user-data">
      <h1>{{user.name}}</h1>
      <p>Email: {{user.email}}</p>
      <div class="pets-section">
        {{#each user.dogs}}
          <div class="pet-card">         
            <img src="{{photo}}" alt="">
            <h3>{{name}}</h3>
            <p>{{breed.breed}}</p>
          </div>
          <a href="/dog/{{_id}}/edit" class="btn-style">Edit</a>
          <form action="/dog/{{_id}}/delete" method="POST">
            <button class="btn-style">Remove</button>
          </form>
        {{/each}}
      </div>
    </div>
  </div>  
</div>
