<div class="profile-container">
  <div class="row-container">
    <div class="form-picture">
      {{#if user.photoUrl}}
        <img src="{{user.photoUrl}}" alt="">
      {{else}}
        <img src="/images/user-silhouette.png" alt="">
      {{/if}}
      <form action="/user/avatar-upload" method="POST" enctype="multipart/form-data">
        <label for="picture-input">Picture</label>
        <input type="file" id="picture-input" name="photo">
        <button>Save</button> 
      </form>

      <form action="" method="POST">
        <a href="/user/edit"> Edit profile </a>
      </form>
    </div>
    <div class="user-data">
      <h1>{{user.name}}</h1>
      <p>Email: {{user.email}}</p>
      <div class="pets-section">
        {{#each user.dogs}}
          <div class="pet-card">
            {{#if photo}}
              <img src="{{photo}}" alt="">
            {{else}}
              <img src="/images/logo_dpp.png" alt="">
            {{/if}}         
            <h3>{{name}}</h3>
            <p>{{breed.breed}}</p>
            <div class="edit-delete-btns">
              <a href="/dog/{{_id}}/edit"><i class="far fa-edit"></i></a>
              <form action="/dog/{{_id}}/delete" method="POST">
                <button class="btn-style"><i class="far fa-trash-alt"></i></button>
              </form>
            </div>
          </div>
        {{/each}}
        <div class="pet-card add">  
          <form action="" method="POST">
             
            <a href="/dog/create"><i class="fas fa-plus"></i> Add new pet </a>
          </form>
        </div>
      </div>
    </div>
  </div>  
</div>
