<h1>Edit your Event</h1>

<form action="" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
  <label for="create-event">Edit Event Title</label>
  <input required id="create-event" type="text" name="title" placeholder="Event Title" value={{event.title}} >
   
   <!--input type="datetime-local" value="2017-06-13T13:00">
   <input type="datetime-local" value="{{formattedDate}}"-->

  <label for="event-start">Edit the Start Date and Time of your Event</label>
  <input required id="event-start" type="datetime-local" name="date" value="{{formattedStartDate}}">

  <label for="event-end">Edit the End Date and Time of your Event</label>
  <input required id="event-end" type="datetime-local" name="endDate" value="{{formattedEndDate}}" >

  <label for="event-address">Edit the Address of your Event</label>
  <input required id="event-address" type="text" name="address" placeholder="Event Address" value="{{event.address}}" >

  <label for="event-description">Edit your Event Description</label>
  <textarea required id="event-description" name="description" placeholder="Event Description">{{event.description}}</textarea>

  <label for="photo-input">Add a different Photo</label>
  <input id="photo-input" type="file" name="photo" >
  <img src={{event.photo}} alt="Current Photo">

  <div id="map-container" ></div>

  <label for="select-latitude">Latitude</label>
  <input required id="select-latitude" type="text" name="latitude" placeholder="Latitude" value={{event.location.coordinates.[1]}}>

  <label for="select-longitude">Longitude</label>
  <input required id="select-longitude" type="text" name="longitude" placeholder="Longitude" value={{event.location.coordinates.[0]}}>

  <button>Submit Changes</button>
</form>

<form action="/event/{{event._id}}/delete" method="POST" enctype="multipart/form-data">
  <span>Do you want to to remove the event altogether ? </span>
  <button>Remove Event</button>
</form>