<div class="single-event-container">
  <div class="first-section">
    {{#with event}}
      <div class="event-card-single">
        {{> eventitem }}

        <p><i class="fas fa-map-marker-alt"></i> {{address}}</p> 
        <small><em>Created by</em> {{creator.name}} <em>on</em> {{{formatDate createdDate}}}</small>
        <!--span>Latitude: {{location.coordinates.[1]}}</span>
        <span>Longitude: {{location.coordinates.[0]}}</span--> 
        <small><em>Last updated on</em> {{{formatDate updatedDate}}}</small>

        {{#if owner}}
        <form action="/event/{{_id}}/edit">
          <button class="btn-orange">Edit or Remove this Event</button>
        </form>
        {{else}}
        <form action="/event/{{_id}}/join" method="POST">
          <button id="join-event" class="btn-orange">Join this Event !</button>
        </form>
        {{/if}}

      </div>
    {{/with}}

    <div class="map"> 
      <div id="map-container"></div>
    </div>
  </div>

{{#unless event.owner}}
  <form action="/event/{{event._id}}/join" method="POST">
    <label for="join-event">Click here to join</label>
    <button id="join-event">Join this Event !</button>
  </form>
  <form action="/event/{{event._id}}/contact-owner">
    <label for="contact-owner">Click here to contact the event organiser privately by email</label>
    <button id="contact-owner">Send private message to organiser</button>
  </form>
{{/unless}}


  <div class="second-section">
      <div class="comments-section">
        <h2>Comments: </h2>

        <ul>
          {{#each comments}}
          <div class="single-comment">
            <li>
              <p>{{description}}</p>
              <small><em>Commented by</em> {{creator.name}} <em>on</em> {{{formatDate createdDate}}}</small>
            </li>
          </div>
          {{/each}}
        </ul>

        <form action="/event/{{event._id}}/comment" method="POST">
          <label for="comment-input">Post a Comment</label>
          <textarea required id="comment-input" name="description">Doggo ipsum pupperino</textarea>
          <button>Submit Comment</button>
        </form>
      </div>

    <div class="participants-section">
      <h2>These 🐶 Parents have already confirmed: </h2>
      <ul>
        {{#each event.participants}}
          <li>
            {{#if photoUrl}}
              <img src="{{photoUrl}}">
            {{else}}
              <img src="/images/user-silhouette.png" alt="">
            {{/if}}
            <a href="/user/{{_id}}">{{name}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

</div>
<script>
  function initMap() {
    const event = {{{json event}}};
    const eventLat = event.location.coordinates[1]
    const eventLng = event.location.coordinates[0]
    //console.log(event.location.coordinates); 
    const $mapContainer = document.getElementById('map-container');

    const map = new window.google.maps.Map($mapContainer, {
      center: {lat: eventLat, lng: eventLng },
      zoom: 14
    });

    const marker = new window.google.maps.Marker({
      map,
      position: {
        lat: eventLat,
        lng: eventLng
      }
    });

    //console.log(marker);
  }

</script>

{{> mapscript}}

