

{{#with event}}

{{> eventitem }}

<div class="event-details">
  <small><em>Created by</em> {{creator.name}} <em>on</em> {{{formatDate createdDate}}}</small>
  <!--span>Latitude: {{location.coordinates.[1]}}</span>
  <span>Longitude: {{location.coordinates.[0]}}</span--> 
  <small><em>Last updated on</em> {{{formatDate updatedDate}}}</small>
  <h2>Location: </h2>
  <p>Address: {{address}}</p>  
</div>
{{/with}}

<div id="map-container"></div>

{{#unless event.owner}}
<form action="/event/{{event._id}}/join" method="POST">
  <label for="join-event">Click here to join</label>
  <button id="join-event">Join this Event !</button>
</form>

{{/unless}}

<h2>These 🐶 Parents have already confirmed: </h2>
<ul>
  {{#each event.participants}}
    <li>
      <a href="/user/{{_id}}">{{name}}</a
    </li>
  {{/each}}
</ul>

{{#if event.owner}}
<form action="/event/{{event._id}}/edit">
  <button>Edit or Remove this Event</button>
</form>
{{/if}}

<h2>Comments: </h2>

<ul>
  {{#each comments}}
    <li>
      <p>{{description}}</p>
      <small><em>Commented by</em> {{creator.name}} <em>on</em> {{{formatDate createdDate}}}</small>
    </li>
  {{/each}}
</ul>

<form action="/event/{{event._id}}/comment" method="POST">
  <label for="comment-input">Post a Comment</label>
  <textarea required id="comment-input" name="description">Doggo ipsum pupperino</textarea>
  <button>Submit Comment</button>
</form>

<script>
  function initMap() {
    const event = {{{json event}}};
    const eventLat = event.location.coordinates[1]
    const eventLng = event.location.coordinates[0]
    //console.log(event.location.coordinates); 
    const $mapContainer = document.getElementById('map-container');

    const map = new window.google.maps.Map($mapContainer, {
      center: {lat: eventLat, lng: eventLng },
      zoom: 14
    });

    const marker = new window.google.maps.Marker({
      map,
      position: {
        lat: eventLat,
        lng: eventLng
      }
    });

    //console.log(marker);
  }

</script>

{{> mapscript}}

